<section class="description" id="description">
  <div class="container">
    <div class="description-header">
      <h2 class="description-title">Game Description</h2>
      <div class="smudge-svg-style"></div>
    </div>

    <p class="description-text">
      Step into the crown of destiny in Queen’s Quest 2 — an enchanting fantasy
      adventure where you reign over a magical realm and restore peace through
      wisdom, magic, and bravery. <br />
      <br />Guide your queen through story-driven missions, mind-bending
      puzzles, and encounters with mystical creatures as she uncovers secrets,
      gathers allies, and makes critical decisions that shape the kingdom’s
      fate. <br />
      <br />Rebuild the realm, solve ancient mysteries, and prove yourself a
      worthy ruler in this captivating mix of narrative, strategy, and
      adventure.
    </p>
  </div>
</section>
