<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <div class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Is Queen’s Quest 2 free to play?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text" style="font-style: italic">
            Yes! The game is free with optional in-app content and rewards.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Does the game include puzzles or just story?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! The game is free with optional in-app content and rewards.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Are there multiple endings?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! The game is free with optional in-app content and rewards.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Can I upgrade the castle and other areas?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! The game is free with optional in-app content and rewards.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Is it offline playable?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! The game is free with optional in-app content and rewards.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Will there be future updates?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! The game is free with optional in-app content and rewards.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
