<footer class="footer">
  <div class="container">
    <p class="copyright">© All rights reserved, 2025. happyqueenquest.com</p>
    <ul class="footer-legal-list">
      <li>
        <a class="footer-legal-link" href="./privacy-policy.html"
          >[Privacy Policy]</a
        >
      </li>
      <li class="divider">|</li>
      <li>
        <a class="footer-legal-link" href="./terms-and-conditions.html"
          >[Terms and Conditions]</a
        >
      </li>
      <li class="divider">|</li>
      <li>
        <a class="footer-legal-link" href="./cookies-policy.html"
          >[Cookie Policy]</a
        >
      </li>
    </ul>
  </div>
</footer>
