<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-1-decs@1x.jpg 1x,
                  /img/gallery/gallery-1-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-1-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-2-decs@1x.jpg 1x,
                  /img/gallery/gallery-2-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-2-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-3-decs@1x.jpg 1x,
                  /img/gallery/gallery-3-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-3-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-4-decs@1x.jpg 1x,
                  /img/gallery/gallery-4-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-4-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-5-decs@1x.jpg 1x,
                  /img/gallery/gallery-5-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-5-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
        </div>

        <div class="gallery-controls">
          <button
            class="swiper-button-prev nav-btn btn-prev"
            aria-label="Previous slide"
          >
            <svg width="26" height="52">
              <use href="./img/sprite.svg#arrow-back"></use>
            </svg>
          </button>

          <div class="swiper-pagination"></div>

          <button
            class="swiper-button-next nav-btn btn-next"
            aria-label="Next slide"
          >
            <svg width="26" height="52">
              <use href="./img/sprite.svg#arrow-back"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
