<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-1-decs@1x.jpg 1x,
                  /img/gallery/gallery-1-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-1-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-2-decs@1x.jpg 1x,
                  /img/gallery/gallery-2-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-2-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-3-decs@1x.jpg 1x,
                  /img/gallery/gallery-3-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-3-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-4-decs@1x.jpg 1x,
                  /img/gallery/gallery-4-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-4-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery-5-decs@1x.jpg 1x,
                  /img/gallery/gallery-5-decs@2x.jpg 2x
                "
              />
              <img
                src="/img/gallery/gallery-5-decs@1x.jpg"
                alt="gallery img"
                class="swiper-slide-img"
              />
            </picture>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="../js/swiper.js"></script>
</section>
