<header class="header">
  <div class="container">
    <!-- Кнопка відкриття -->
    <button data-action="open" class="burger-open" type="button">
      <button data-action="open" class="burger-open" type="button">
        <svg class="" width="40" height="40">
          <use href="./img/sprite.svg#burger"></use>
        </svg>
      </button>
    </button>

    <div data-visible="close" id="burger-menu" class="burger-menu">
      <div class="burger-header">
        <button
          data-action="close"
          class="burger-close"
          aria-label="Close menu"
          type="button"
        >
          <svg class="icon-close" fill="none" stroke="currentColor">
            <use href="./img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      <ul class="burger-nav">
        <li class="burger-item"><a href="#home">Home</a></li>
        <li class="burger-item">
          <a href="#description">Description</a>
        </li>
        <li class="burger-item">
          <a href="#advantages">Advantages</a>
        </li>
        <li class="burger-item"><a href="#reviews">Reviews</a></li>
        <li class="burger-item">
          <a href="#howtoplay">How to Play</a>
        </li>
        <li class="burger-item"><a href="#faq">FAQ</a></li>
        <li class="burger-item"><a href="#gallery">Gallery</a></li>
      </ul>
    </div>
  </div>
</header>
