<header class="header">
  <div class="container">
    <!-- Кнопка відкриття -->
    <button data-action="open" class="burger-open" type="button">☰</button>

    <div data-visible="close" id="burger-menu" class="burger-menu">
      <div class="burger-header">
        <button
          data-action="close"
          class="burger-close"
          aria-label="Close menu"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon-close"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <ul class="burger-nav">
        <li class="burger-item"><a href="#home">Home</a></li>
        <li class="burger-item">
          <a href="#description">Description</a>
        </li>
        <li class="burger-item">
          <a href="#advantages">Advantages</a>
        </li>
        <li class="burger-item"><a href="#reviews">Reviews</a></li>
        <li class="burger-item">
          <a href="#howtoplay">How to Play</a>
        </li>
        <li class="burger-item"><a href="#faq">FAQ</a></li>
        <li class="burger-item"><a href="#gallery">Gallery</a></li>
      </ul>
    </div>
  </div>
</header>
