<section id="hero" class="hero">
  <div class="container hero-container">
    <div class="hero-img"></div>
    <div class="hero-content">
      <div class="hero-wrapper">
        <div class="ellipse-shadow"></div>
        <h1 class="hero-title">“Rule Wisely. <br />Quest Bravely.”</h1>
      </div>
      <div class="hero-button-style">
        <a
          href="https://play.google.com/store/apps/details?id=com.artifexmundi.queensquest2.gp.free&hl=en&gl=us"
          target="_blank"
        >
          <button class="hero-button" type="button">Play Now</button>
        </a>
      </div>
    </div>
  </div>

  <div class="cookie-wrapper container">
    <div id="cookie-policy" class="cookie-policy container hidden">
      <div class="cookie-text">
        <h2>Cookies Policy</h2>
        <p>
          We use cookies to improve your experience on our website.<br />
          By browsing this website, you agree to our use of cookies.
        </p>
      </div>
      <div class="cookie-buttons">
        <button class="accept-btn" type="button">ACCEPT COOKIES</button>
        <button class="decline-btn" type="button">DECLINE COOKIES</button>
      </div>
    </div>
  </div>
</section>
