<section class="how-to-play">
  <div class="container">
    <h2 class="how-to-play-title">How to Play</h2>
    <!-- Фон книжки -->
    <div class="book-bg">
      <!-- Конт для лівої і правї частини -->
      <div class="book-wrapper">
        <!-- Ліва частина (текст-обгортка) книги -->
        <div class="book-text-content text-left">
          <ul class="book-text-content-list">
            <li class="book-text-content-item">
              <h3 class="book-title">1. Start Your Quest:</h3>
              <p class="book-text">
                Take on the role of the Queen and begin your epic journey.
              </p>
            </li>
            <li class="book-text-content-item">
              <h3 class="book-title">2. Explore Realms:</h3>
              <p class="book-text">
                Travel through magical forests, mountain paths, ruins, and more.
              </p>
            </li>
            <li class="book-text-content-item">
              <h3 class="book-title">3. Solve Puzzles:</h3>
              <p class="book-text">
                Unlock gates, decode glyphs, and reveal ancient truths.
              </p>
            </li>
          </ul>
        </div>
        <!-- Права частина (текст) книги -->
        <div class="book-text-content text-rigth">
          <ul class="book-text-content-list">
            <li class="book-text-content-item">
              <h3 class="book-title">4. Manage Resources:</h3>
              <p class="book-text">
                Collect herbs, crystals, and artifacts to aid in quests.
              </p>
            </li>
            <li class="book-text-content-item">
              <h3 class="book-title">5. Rebuild the Kingdom:</h3>
              <p class="book-text">
                Complete missions to upgrade your palace and secure your
                people’s future.
              </p>
            </li>
            <li class="book-text-content-item">
              <h3 class="book-title">6. Make Wise Decisions:</h3>
              <p class="book-text">
                Choose your words and allies carefully — they shape your story.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
