.advantages {
    padding-top: 50px;
    padding-bottom: 71px;
    background-image: linear-gradient(180deg, rgba(4, 24, 29, 0) 0%, #04181d 100%), url('../img/advantages/desktop_bg_3.png');
    background-position: left;
        
}

.advantages-title-section {
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.advantages-title {
    font-family: var(--title-font-family);
        font-weight: 600;
        font-size: 24px;
        text-align: center;
  
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: var(--beige);
}

.smudge-svg-style {
    margin-top: 6px;
    width: 100%;
    max-width: 200px;
    height: 13px;
    background: #fdfdfd;
    filter: blur(2px);
    clip-path: path("M102 4 C145 4 182 5 202 6.5 C182 8 145 9 102 9 C59 9 22 8 2 6.5 C22 5 59 4 102 4 Z");
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.advantages-item {
    width: 288px;
    height: 323px;
    background-color: var(--blue);
    border: 2px solid var(--accent);
    border-radius: 8px;

    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.advantages-card-img {
    padding: 20px 0 20px 0;
    margin: 0 auto;


}

.advantages-info {
    padding: 0 20px;
        display: flex;
        flex-direction: column;
}

.advantages-card-title {
    text-align: left;
    padding-bottom: 10px;
}
.indented {
    display: inline-block;
    padding-left: 2ch;
  
}

.advantages-tech {
    text-align: left;
}

.advantages-item.no-info {
    background-color: transparent;
}

@media screen and (min-width: 1200px) {
.advantages {
        padding-top: 80px;
        padding-bottom: 60px;
        background-image: linear-gradient(180deg, rgba(4, 24, 29, 0) 0%, #04181d 100%), url('../img/advantages/desktop_bg_8.png');
        background-position: right;
        background-size: cover;
  }

  .advantages-title {
    font-size: 36px;
  }

  .advantages-title-section {
      padding-bottom: 44px;
     

  }

 .grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
 }   
 
 .advantages-item.no-info {
border: none;
}
}
