:root {
  --dark: #031317;
  --blue: #093d4a;
  --beige: #fef4e0;
  --accent: #ffd700;
  --brown: #947526;
 
  --title-font-family: "Playfair Display", sans-serif;
  --main-font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--blue);
  color: var(--beige);
  font-family: var(--main-font-family);
}

main {
  flex-grow: 1;
}
