.footer {
    padding: 46px 0 44px 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.copyright {
    margin-bottom: 52px;
}

.footer-legal-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-legal-link {
    font-size: 14px;
}

.divider {
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1199.9px){
    .divider {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding: 24px 0;
        font-size: 14px;
    }

    .footer .container {
        display: flex;
    }

    .copyright {
        margin: 0 286px 0 0;
    }

    .footer-legal-list {
        flex-direction: row;
        gap: 10px;   
    }
}
