.gallery .container {
    background-image: url("../img/gallery/desktop_bg_8.png");
    background-size: cover;
    text-align: center;
}

.gallery .container{
    padding: 46px 0;
}

.gallery-title {
    font-family: var(--title-font-family);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 69px;

    position: relative;
    z-index: 1;
    display: inline-block;
    padding-bottom: 16px;
}

.gallery-title::after {
    content: '';
    position: absolute;
    left: -35px;
    bottom: 0;
    width: 180px;
    height: 8px;
    background: linear-gradient(90deg, #fdfdfd 0%, #fdfdfd 100%);
    filter: blur(2px);
    border-radius: 50%;
    opacity: 0.7;
    z-index: 0;
}

.swiper-slide img {
    display: block;
    width: 195px;
    height: 100%;
    object-fit: cover;
}

.gallery-controls {
    padding-top: 26px;
    margin: 0 auto;
    width: 216px;
    display: flex;
    gap: 24px;   
    align-items: center;
    justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
}

.nav-btn {
    width: 40px;
    height: 40px;
    background-color: var(--brown);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-next {
    transform: rotate(180deg);
}

.swiper-pagination {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: var(--beige);
    opacity: 1;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: var(--brown);
}

@media only screen and (min-width: 1200px) {
    .gallery .container{
        padding: 80px 0;   
    }

    .swiper-slide img {
        width: 553px;
    }

    .gallery-title {
        font-size: 36px;
        margin-bottom: 83px;
    }

    .gallery-title::after {
        bottom: -4px;
        width: 274px;
        left: -55px;
    }

    .gallery-controls {
        padding-top: 60px;
        width: 440px;
        gap: 96px;  
    }

    .nav-btn {
        width: 60px;
        height: 60px;
    }
}










/* ---------------  --------------- */



