* {
    box-sizing: border-box;
}

.gallery .container {
    background-image: url("../img/gallery/desktop_bg_8.png");
    background-size: cover;
}

.gallery .container{
    padding: 46px 0;
}

.gallery-title {
    font-family: var(--title-font-family);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 69px;

    position: relative;
    z-index: 1;
}

.gallery-title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 156px;
    height: 5px;
    background-color: #fdfdfd;
    border-radius: 50% / 50%;
    filter: blur(4px);
    z-index: -1; 
}

.swiper-slide img {
    display: block;
    width: 195px;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1200px) {
    .gallery .container{
        padding: 80px 0;   
    }

    .swiper-slide img {
        width: 553px;
    }

    .gallery-title {
        font-size: 36px;
        margin-bottom: 83px;
    }

    .gallery-title::after {
        bottom: -4px;
        width: 274px;
        height: 5px;  
    }
}










/* ---------------  --------------- */



