* {
    box-sizing: border-box;
}

.legal header,
.legal main {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    background: #fff;
}

.home-link-container {
    display: inline-flex;
    margin: 28px 0 36px 0;
    gap: 18px;
    align-items: center;
}

.home-link-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.home-link-svg {
    width: 16px;
    height: 32px;
}

.legal-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
}

.last-updated {
    font-size: 12px;
    margin-bottom: 30px;
}

.privacy-intro {
    font-weight: 500;
    margin-bottom: 30px;
}

.legal h2 {
    font-weight: 600;
    font-size: 14px;
}

.legal-list{
    margin-bottom: 60px;
}

.legal-list-item:not(:last-child) {
    margin-bottom: 22px;
}

.medium-text {
    font-weight: 500;
}

.underline {
    text-decoration: underline;
}

@media screen and (min-width: 1200px) {

.home-link-container {
    margin: 60px 0;  
    gap: 20px;
}

.legal-main-container {
    padding: 0 80px;
}

.home-link-text {
    font-size: 18px;
    line-height: 1.5;
}

.legal-title {
    font-size: 48px;
}

.legal header,
.legal main {
    font-size: 16px;
}

.last-updated {
    font-size: 14px;
}

.privacy-intro p {
    font-size: 18px;
}

}

